[core]
	editor = nvim
	symlinks = true

[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
	staash = stash --all

[apply]
        # Detect whitespace errors when applying a patch.
        whitespace = fix

[help]
        # Automatically correct and execute mistyped commands.
        autocorrect = 1

[init]
	defaultBranch = main
[column]
	ui = auto
[branch]
	sort = -committerdate
